html, body{
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}

body{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
}

.loader-overlayer{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color:black;
  z-index: 14;
  transition: all 200ms ease;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start;
  &.hide-loader{
    opacity: 0;
    visibility: hidden;
  }
  .loader-wrapper{
    text-align: center;
    width: 100%;
    align-self: center;
  }
  .loader{
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: white;
    animation: rotateSpinner 800ms ease infinite;
  }
}

.burger-container{
  position: fixed!important;
  display: inline-block;
  top: 20px;
  right: 20px;
  transition: all 200ms ease-in-out;
  z-index: 13;
  background: url('../images/burguer-1.svg');
  background-size: contain;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 13;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start;
  &.show-modal{
    visibility: visible;
    opacity: 1;
    .modal-wrapper{
      transform: none;
    }
  }
  .modal-wrapper {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    position: relative;
    transition: all 300ms ease;
    align-self: center;
    transform: translateY(500px);
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 200ms ease;
  &:hover, &:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@keyframes rotateSpinner {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.splash-page{
  height:100%;
  width:100%;

  background-image: url('../images/yeezy.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color:white;
  .splash-page-content{
    padding:220px 15% 0 15%;
    font-weight: 300;
    .subtitle{
      color:rgba(255,255,255,.6);
      font-size: .7rem;
      line-height: 16px;
      letter-spacing: 0.15em;
      font-weight: 300;
      margin-bottom: 20px;
    }
    .title{
      font-size: 62px;
      letter-spacing: 3px;
      padding-bottom: 0;
      font-weight: 300;
      line-height: 70px;
    }
    a{
      color:#787878;
      text-decoration: none;
      padding-bottom: 0;
      cursor: pointer;
      &:hover{
        color:white;
      }
    }
  }
  .splash-page-footer{
    position: absolute;
    bottom: -150px;
    padding-left:15%;
    p{
      color:rgba(255,255,255,.6);
      font-size: .7rem;
      line-height: 16px;
      letter-spacing: 0.15em;
      font-weight: 300;
    }
  }
}

.vertical-line{
  background-color: white;
  width: 1px;
  height: 200px;
  opacity: .5;
  display: inline-block;
}

//url with swaaaaaaaaaaaggg
.sliding-url{
  display: inline-block;
  position: relative;
  &:hover{
    &:before {
      width: 100%;
      border-bottom: 1px solid;
      transition: width .5s ease;
    }
    &:after {
      width: 100%;
      border-bottom: 1px solid transparent;
      transition: all 0s ease;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    transition: width 0s ease, border-bottom .5s ease;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    border-bottom: 1px solid;
    transition: width .5s ease;
  }
}

@media only screen and (max-width: 780px) {
  .splash-page{
    .splash-page-content{
      padding:100px 10%;
    }
    .splash-page-footer{
      padding-left:10%;
    }
  }

}

@media only screen and (max-width: 665px) {
  .splash-page{
    .splash-page-content{
      padding:50px 10%;
      .title{
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

}
